/*main color: #046f92;
shades: #046483, #035975, #034e66, #024358, #023849, #022c3a, #01212c, #01161d , #000b0f, #000000, 
tints: #1d7d9d , #368ca8, #4f9ab3 , #68a9be, #82b7c9, #9bc5d3, #b4d4de, #cde2e9 , #e6f1f4, #ffffff, 
*/

$font-primary: "Raleway", sans-serif;

$main-color: #046f92;
$main-color-shade-1: #046483;
$main-color-shade-2: #035975;
$main-color-shade-3: #034e66;
$main-color-shade-4: #024358;
$main-color-shade-5: #023849;
$main-color-shade-6: #022c3a;
$main-color-shade-7: #01212c;
$main-color-shade-8: #01161d;
$main-color-shade-9: #000b0f;
$main-color-shade-10: #000000;
$main-color-tint-1: #1d7d9d;
$main-color-tint-2: #368ca8;
$main-color-tint-3: #4f9ab3;
$main-color-tint-4: #68a9be;
$main-color-tint-5: #82b7c9;
$main-color-tint-6: #9bc5d3;
$main-color-tint-7: #b4d4de;
$main-color-tint-8: #cde2e9;
$main-color-tint-9: #e6f1f4;
$main-color-tint-10: #ffffff;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;

$darkColor: #43464b;
$textColor: #555;
$backgroundColorInput: rgba(0, 0, 0, 0.1);
$pagePadding: 20px;
$backgroundColor: #f8f8f8;
$blue: #1a357a;
$mediumTextColor: gray;
$darkTextColor: DarkSlateGray;
$white: white;
$black: black;
$green: #4ca952;
$lightGrey: #e1e5ea;
$grey: #dddddd;
$appTopMargin: 90px;
$siteFooterHeight: 24rem;
$siteMobileFooterHeight: 42rem;
$successBackgroundColor: #d4edda;
$successForegroundColor: #155724;
$infoBackgroundColor: #cce5ff;
$infoForegroundColor: #004085;
$dangerBackgroundColor: #f8d7da;
$dangerForegroundColor: #711c24;

//BUTTON DESIGN
@mixin gradient-background() {
  background: rgba(4, 111, 146, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(4, 111, 146, 1) 0%,
    rgba(0, 144, 173, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(4, 111, 146, 1)),
    color-stop(100%, rgba(0, 144, 173, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(4, 111, 146, 1) 0%,
    rgba(0, 144, 173, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(4, 111, 146, 1) 0%,
    rgba(0, 144, 173, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(4, 111, 146, 1) 0%,
    rgba(0, 144, 173, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(4, 111, 146, 1) 0%,
    rgba(0, 144, 173, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#046f92', endColorstr='##00d4ff', GradientType=1 );
}

.btn {
  cursor: pointer;
  box-shadow: none !important;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 50px;
  background: $main-color;
  border: 1px solid $main-color;
  color: $white;
  font-family: $font-primary;
  font-weight: 500;
  @include gradient-background();
  //TODO: add hover effect
}
