@import "./Constants.scss";

.box {
  /* bring your own prefixes */
  width: 56rem;
  height: 45rem;
  background-color: $backgroundColor;
  border: 6px solid $main-color;
  border-radius: 1rem;
  // padding: 2rem;
  margin: 5rem;

  .box__title {
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
    padding: 2.2rem;
  }
  .box__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $textColor;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  .box__input {
    input {
      width: 80%;

      border: 1px solid $grey;
      border-radius: 0.5rem;
      padding: 0.5rem;
      margin-top: 0.5rem;
      outline: none;
    }
  }
  .box__label {
    padding: 1rem;
    border-bottom: 0.2rem solid $grey;
  }
}
