@import "./Constants.scss";

.wrap {
  display: flex;
  justify-content: center;
}

.box {
  /* bring your own prefixes */
  text-align: center;
  width: 56rem;
  height: 45rem;
  margin: 0 auto;
  background-color: $backgroundColor;
  border: 2px solid $main-color;
  border-radius: 1rem;
  margin: 5rem;

  .box__title {
    font-size: 1.7rem;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
    padding: 2.2rem;
  }
  .box__form {
    display: flex;
    margin: 1rem;
    row-gap: 20rem;
    flex-direction: column;
    height: 30rem;
    position: relative;
  }
  .box__input {
    input {
      width: 80%;
      align-self: flex-end;
      border: 1px solid $grey;
      border-radius: 0.5rem;
      padding: 0.5rem;
      margin-top: 0.5rem;
      outline: none;
    }
  }
  .box__label {
    display: inline-block;
    border-bottom: 1px solid $grey;
    padding: 1rem;
    font-size: 1.4rem;
  }

  .resetButton {
    width: 80%;
    margin: 0 auto;
  }
}
